.content-page {
  background-color: #1f2937;
  min-height: 100vh;
  padding: 20px;
  margin: 0;
  position: relative; /* da logout button može biti apsolutno */
}
.content-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.content-main {
  display: flex;
  gap: 20px;
  margin-top: 60px; /* ostavljamo prostor za logout dugme */
}

.search-icon {
  font-size: 18px;
  color: #999;
}

.search-input {
  flex: 1; 
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  min-width: 0; 
}


.login-button {
  flex: 0 0 auto;
  width: 120px; 
  padding: 10px 20px;
  font-size: 14px;
  background-color: #facc15; 
  color: #000;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  white-space: nowrap;
}

.login-button:hover {
  background-color: #eab308; 
}


.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 180px)); /* fiksna širina kartica */
  gap: 20px;
  justify-content: flex-start;
  flex: 1; /* grid zauzima ostatak prostora */
}

.card {
  background-color: #374151;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card:hover{
  transform: scale(1.1);
}




.card-info {
  padding: 10px;
  color: #f9fafb;
}

.card-info h3 {
  margin: 0 0 5px 0;
  font-size: 18px;
}

.card-info p {
  margin: 0;
  font-size: 14px;
  color: #d1d5db;
}

.detail-container {
  display: flex;
  gap: 20px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
}

.detail-image img {
  width: 300px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.detail-info {
  flex: 1;
}

.episode-list {
  list-style-type: circle;
  padding: 0;
}

.episode-card {
  padding: 8px 12px;
  margin-bottom: 10px;
  background-color: #312e2e;
  color: white;
  border-radius: 6px;
  transition: transform 0.2s;
}

.episode-card:hover {
  transform: translateX(5px);
  background-color: #333;
}

.filter-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 220px; /* širina sidebar-a */
}


.search-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.search-wrapper .search-input {
  flex: 1;
  padding: 8px 10px; 
  font-size: 14px; 
  border-radius: 20px;
}

.search-wrapper .search-icon {
  color: #facc15;
  font-size: 16px; 
}

.filter-controls select {
  padding: 6px 8px;
  font-size: 14px;
  border-radius: 20px;
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 20px;
  background-color: #facc15;
  color: #000;
  border: none;
  cursor: pointer;
  width: auto; /* automatska širina prema sadržaju */
  flex: 0 0 auto; /* uklanja fleks rastezanje */
}

.logout-button:hover {
  background-color: #eab308;
}

